<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link rel="stylesheet" href="../styles/nameWindow.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>ava-x2l</title>
</head>
<!-- todo: 可能用路由会更好？ -->

<body>
    <script type="module" src="../src/jquery.js"></script>
    <script type="module" src="../src/nameWindow.js"></script>
    <div>
        <div>
            <p class="title">
                <button id="cancel" class="close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button><br>
                <span><b>请输入项目名</b></span> 
            </p>

            <div class="name-bar">
                <input type="text" id="project-name" />
                <button id="name-project" class="btn btn-primary">Convert</button>
            </div>
        </div>
    </div>
</body>

</html>