<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <link rel="stylesheet" href="../styles/nameWindow.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>ava-x2l</title>
</head>
<!-- todo: 可能用路由会更好？ -->
<body>
    <script type="module" src="../src/jquery.js"></script>
    <script type="module" src="../src/nameWindow.js"></script>
    <div class="main">
        <div class="title">
            <h2>请输入该新项目的名字,用以保存</h2>
            <input type="text" id="project-name" class="m-auto">
            <div class="btn-bar">
                <button id="name-project" class="btn btn-primary">
                    生成
                </button>
                <button id="cancel" class="btn btn-danger">
                    取消
                </button>
            </div>
        </div>
    </div>
</body>
</html>