* {
    -webkit-user-select: none;
    cursor: default !important;
    -webkit-user-drag: none;
}

/* tag */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #e4e4e4 !important;
    font-family: "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
    text-align: center;
    background-color: #22272e !important;
}

input[type="text"] {
    border: 1px solid #c0bdbd;
    font-size: 15px;
    border-radius: 3px;
    height: 30px;
    width: 300px;
    padding: 0 0;
}

input[type="text"]:hover {
    outline: none;
    border-color: #00c3ff;
}

input[type="text"]:focus {
    outline: none;
    border-color: #00c3ff;
}

/* id */
#project-name {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 40px;
    background-color: #F3F3F3;
    border-color: #545d68 !important;
    font-size: 15px;
    text-align: center;
    margin-top: 0px !important;
    margin-left: 60px;
}

#name-project {
    color: #f3f3f3;
    font-size: 15px;
    width: 150px;
}

.btn-bar {
    margin-top: 20px;
    margin-left: auto;
    width: 100%;
    height: 100px;
    float: left;
}

.title {
    text-align: center;
    margin-top: 5% !important;
}

.title span {
    font-size: 18px;
    margin-left: -80px;
    margin-top: 50px;
}

.close {
    float: right;
    background-image: '../resources/x.svg';
    background-color: rgba(0, 0, 0, 0);
    margin-right: 30px;
    color: #F3F3F3;
    border: 0px;
    padding: 0px 0px 0px 0px;
    transition-duration: 0.5s;
}

.close:hover {
    background-color: rgba(66, 65, 65, 0.596);
}

.name-bar {
    margin-top: 30px;
}

.name-bar input[type="text"] {
    float: left;
}